[2013-10-28 19:40] ivern opened #1 "NuGet"
Would it be possible to place official releases of QLNet on NuGet?  That'd streamline the process of using the library and of updating it.

I'm willing to work on this if you want, just let me know.  I could configure the project for NuGet publishing and send you a pull request.

[2013-10-30 17:01] #1 closed, assigned to amaggiulli

[2013-11-27 18:28] ivern opened #3 "Please add a strong name to the distribution build"
It'd be awesome if the distribution (including the NuGet package) could be strong named.  Any chance this could be done?  Thanks in advance...

[2013-12-02 16:56] #3 closed, assigned to nobody

[2014-01-26 20:03] Nomak5 opened #5 "DividendVanillaOption: is there a working pricing engine ?"
It looks like there is no class implementing the DividendVanillaOption engine base class. Is the DividendVanillaOption working in the current version ? If it is, what pricing engine should be used ?

Thanks

[2014-03-05 18:13] #5 closed, assigned to nobody

[2014-04-28 16:24] rkapl123 opened #9 "Documentation"
Hi Andrea!

What's the current documentation tool you are using for the .net version of quantlib, as in 1.2 you had a doxygen folder in the distribution (but no instructions on how to use it). Do you still plan to use doxygen in the future and can you point me to some ways to use it with QLNet?

-regards,
ROland

[2014-05-08 09:00] igitur opened #10 "BackwardFlat interpolation"
Hi,

In qlnet/QLNet/Math/Interpolations/backwardflatinterpolation.cs line 73
shouldn't that be:
            return new BackwardFlatInterpolation(xBegin, size, yBegin);

[2014-05-08 09:09] #10 closed, assigned to nobody

[2014-05-22 19:12] pelife opened #12 "CallableBond example does not work"
in class CallableFixedRateBond, the method setupArguments put the prices twice in the collection arguments.callabilityPrices, this makes the validation fail when it tries to match the size os collections arguments.callabilityPrices and arguments.callabilityDates.

File:CallableBond.cs (QLNet-> Instruments -> Bonds)
Line 271: setup bug
Line 63: validation

 public override void validate()

[2014-05-23 08:58] #12 closed, assigned to nobody

[2014-05-23 14:44] pelife opened #13 "Project is not building"
The version 1.4 is not building
![image](https://cloud.githubusercontent.com/assets/609045/3067959/9f8d9254-e288-11e3-821b-b48108be5d4e.png)
it seems that there are some commits pending.

[2014-05-26 08:05] #13 closed, assigned to nobody

[2014-05-27 10:03] igitur opened #15 "Indentation: tab = 3 spaces"
Hi,

I noticed that the indentation setting is mostly 3 spaces. Isn't this a bit odd? The default Visual Studio settings for a .NET project is 4 spaces for indentation. Is there any specific reason for using 3 spaces or will you consider moving to 4 spaces for indentation?

Also, I see that there are a mixture of tabs and spaces in some files. I'll fix this later.

See attached screenshot of defau

[2014-05-28 07:41] igitur opened #17 "CPICoupon Leg generation - Count off by 1"
Hi,

Please see
https://github.com/amaggiulli/qlnet/blob/Ver-1.4/QLNet/Cashflows/CPICoupon.cs#L268

Shouldn't that rather be `int n = schedule_.Count - 1;` ?

Also, what is the purpose of
https://github.com/amaggiulli/qlnet/blob/Ver-1.4/QLNet/Cashflows/CPICoupon.cs#L278 . It doesn't look ilk `lastPaymentDate` is used anywhere.

I'm not sure about this, which is why I'm asking you first.

[2014-06-03 14:23] igitur opened #19 "InterpolatedZeroInflationCurve"
Hi,

I see InterpolatedZeroInflationCurve hasn't been implemented yet. I'll try to implement it, but I'm just checking first that you don't perhaps have a semi-completed version. If so, please let me know.

[2014-06-05 12:14] #15 closed, assigned to nobody

[2014-06-05 12:16] #9 closed, assigned to nobody

[2014-08-04 04:51] eAndy opened #33 "Update source repo URL on Google Plus"
https://plus.google.com/100924855000638032994/posts

[2014-08-04 04:54] eAndy opened #34 "How to calculate volatility input for option pricing"
I'd like to do simple american option pricing calculations.

How do I go about calculating the volatility value?

SPECIFICALLY: there is a value .20 provided below. How is that calculated?

My belief is I need to get prices for a period and do a volatility calculation on the series of prices. Does anyone have a sample? how many periods are required?

Thanks in advance.

   AmericanOptionData[] juV

[2014-08-05 12:44] #33 closed, assigned to nobody

[2014-09-22 13:37] #34 closed, assigned to nobody

[2014-10-27 18:50] grandtiger opened #38 "Swap example unhandled exception"
I tried the swap example on both Win7 (VS213) and XP (VS2010), but kept getting the following exception: "Unhandled Exception: System.ApplicationException: 1 iteration: failed at 1 alive instrument, maturity 2004/09/29, reference date 2004/09/22: invalid value (-3) at index 1".

I tried debugging it but couldn't figure out what the root cause is because I am not very familiar with QuantLib and qln

[2014-10-28 10:24] #38 closed, assigned to nobody

[2014-11-04 09:42] #19 closed, assigned to nobody

[2014-11-04 10:15] #17 closed, assigned to nobody

[2014-11-26 13:05] GarnikA opened #40 "Performance issue"
I have upgraded the QLNet from a very old version (1.0.0.1) to 1.3.0.0 and noted a huge performance drop. To give an idea: the total execution time of an application moved from  2.5 to 10 minutes. And this is ONLY upgrading the QLNet library. After spending some time, with profiling the library and comparing the code, I found that the cause of the issue is in using the Utils.QL_REQUIRE() call all

[2014-11-28 17:36] #40 closed, assigned to nobody

[2014-12-01 16:38] amaggiulli opened #41 "QLNet Thread Safe"
Let's talk here about making QLNet thread safe , let's start with GarnikA comment :

on the thread-safe note; you mention that "evaluationDate is stored in a singleton". Are you referring to the static Settings class? If yes, should not [ThreadStatic] solve that problem?
From what I can see, there are only a few singletons and with very little change they can be turned to be thread-safe: IndexMana

[2014-12-02 02:06] jbtheming opened #42 "Error running the example in swapvaluation.cs"
Hi I was trying to get up to speed with qlnet but hit a problem when I ran the supplied example in the "Swap" project. After the 5year swap rate is changed and the depoSwaptermStructure relinked I get the error :
"Additional information: 1 iteration: failed at 1 alive instrument, maturity 29/09/2004, reference date 22/09/2004: invalid value (-3) at index 1"

when it tries to recalculate the NPV.

[2014-12-02 09:52] #42 closed, assigned to nobody

[2014-12-22 04:48] mozts2005 opened #43 "Amortization value incorrect values"
Amortization value is not being calculated correctly on purchase date or maturity date.

Will submit pull request with unit test.

[2015-01-08 07:39] igitur opened #45 "Calculation of CASH"
Hi @amaggiulli

In revision 361 in the old SVN project, I see that support for calculation of CASH values were added. However, I can't find any reference to these calculations in the QuantLib project. I'd like to keep the 2 projects in line as much as possible, so can you please explain what these CASH calculations are for? They don't seem to be used that much. If they really serve a purpose, I'll

[2015-01-08 07:40] igitur commented on #43
I'm busy looking at this - just have to sort out some other  unit tests in the same class as well.

[2015-01-08 09:58] igitur opened #46 "AmortizingBond"
Hi @amaggiulli

in QLNet we have 4 classes for amortizing bonds: AmortizingBond, AmortizingCMSRateBond, AmortizingFixedRateBond and AmortizingFloatingRateBond.

In QuantLib the AmortingBond class doesn't exist. What is the purpose of this class if the other 3 already exist? If it's important, I want to backport it.

[2015-01-09 10:42] amaggiulli commented on #46
Hi @igitur , they exists in Quantlib in the experimental folder.

[2015-01-09 10:46] igitur commented on #46
I still can't find the AmortizingBond class:

https://github.com/lballabio/quantlib/tree/master/QuantLib/ql/experimental/amortizingbonds

[2015-01-09 10:48] amaggiulli commented on #46
Ah sorry , you mean only the AmortizingBond class , it seems is not used also in QLNet ,I think can be removed

[2015-01-09 10:50] amaggiulli commented on #45
I will look at this and explain

[2015-01-09 10:54] amaggiulli commented on #46
I see now @mozts2005 used that for some tests , are u working on this ?

[2015-01-09 10:55] igitur commented on #43
Hi @mozts2005 ,

Refer to issue #46 . Your tests use the AmortizingBond class, but we'd like to remove it. Would one of the remaining 3 similar classes suit your goal?

[2015-01-09 15:54] mozts2005 commented on #43
any class would work but the AmortizingBond class is currently the only one with the amortizationValue  method.

[2015-02-19 16:36] GarnikA opened #47 "Bootstrapper does not build the curve correctly when interest rates are negative."
Bootstrapper does not build the curve correctly when interest rates are negative. The impression is that the Discount Factors will never go higher than 1.
However I was told QuantLib handles this. Is that right?

[2015-04-18 15:04] OfirMarom opened #52 "Vanilla Swap Pricer Ignores Index Fixing Days"
Hi @amaggiulli

I think I have found a bug becuase the vanilla swap pricer ignores fixing days of the index - it always uses the default which is 2. See my code below. If you value for 20 April 2015 you get an exception for a the fixing of 17 April 2015. Since the index has 0 fixing days I should not need the 17 April fixing.

I have looked through the source code. I am not sure why this line is c

[2015-08-21 13:44] amaggiulli commented on #52
Fixed in commit dcfe0fab9e99a77e88ddc4cf671c79d52b604189 , in version 1.4.0.25 - ty Ofir

[2015-08-21 13:44] #52 closed

[2015-08-21 14:41] #41 closed

[2015-08-21 19:50] xiangtaoliu opened #54 "PrimeNumbers.cs does not work"
PrimeNumbers.get(8) returns 4, which is obviously incorrect.
Caused by int n = 8*sizeof(ulong)/sizeof(ulong);

[2015-08-21 21:12] igitur commented on #54
Besides some other minor errors, the major error was actually in the loop logic.

[2015-08-21 21:12] #54 closed

[2015-09-08 08:06] #46 closed

[2015-09-08 08:06] #45 closed

[2015-09-08 08:07] #47 closed

[2015-09-08 08:12] igitur commented on #45
?

[2015-09-08 09:25] amaggiulli commented on #45
Sorry I forgot to comment , CASH is needed by some users of QLNet.

[2015-09-08 10:35] igitur commented on #45
Do you have an example of where it's used? I'd like to backport it to
Quantlib then.

Francois Botha

On 8 September 2015 at 11:25, Andrea Maggiulli <notifications@github.com>
wrote:

[2015-11-09 16:38] grantathon opened #60 "Can't price simple fixed coupon bond"
Hi all,

I am trying to extract the clean price, dirty price, accrued amount, and cash flows from a FixedRateBond object after setting it with a DiscountingBondEngine object.  I can get back the accrued amount and cash flows but not the clean price and dirty price.  Instead an exception is thrown:

**An unhandled exception of type 'System.ApplicationException' occurred in QLNet.dll**

**Additional

[2015-11-10 09:44] amaggiulli commented on #60
Your code works in branch 1.5 . We will merge development branch 1.5 on master soon , for now you can try to use code from https://github.com/amaggiulli/qlnet/tree/Ver-1.5 .

[2015-11-10 12:11] grantathon commented on #60
Is there an estimated date for releasing version 1.5 onto NuGet?

[2015-11-10 19:12] underwater opened #61 "CashFlow / IRR and YTM"
Just starting with this library, and wondering if someone can help with this use case question

I need to calculate the internal rate of return (IRR) , both for the reporting period (Period IRR) as well as the Annualized IRR for a portfolio.   I have already prepared  as SimpleCashFlows the
- intial Value of the portfolio,
- the contributions / withdrawals,
- end Value of the portfolio.

Can I sim

[2015-11-12 13:51] igitur commented on #61
@underwater This is probably not what you want to hear, but only @amaggiulli and I work on this project. I'm not sure about @amaggiulli , but I can't help you with the answer. I just don't know the entire library well enough. What I suggest is that you ask it on the QuantLib (the C++ version) mailing list. Once you get an answer there and QLNet and QuantLib give different values, let me know, and

[2015-11-13 09:25] grantathon commented on #38
Is QL_NEGATIVE_RATES not set (i.e., doesn't allow negative rates) by default in the current version of 1.4?  When I look at the data of my returned QLNet.InterpolatedCurve, which is based on certain real rates, I see values floored at zero where there should be negative values.

[2015-11-13 09:29] igitur commented on #38
From what I gather from https://github.com/amaggiulli/qlnet/blob/Ver-1.4/QLNet/QLNet.csproj ,  believe QL_NEGATIVE_RATES was included. Can you try your code from the latest git master?

[2015-11-13 09:52] grantathon commented on #38
I'm currently using the NuGet package of QLNet version 1.4.0.4, which appears to have been released after your "Enable QL_NEGATIVE_RATES" push.  Maybe the csproj of the NuGet package doesn't reflect this change?

[2015-11-13 10:18] grantathon commented on #38
I'm using the most recent version of QLNet on NuGet (1.4.0.30), which appears should include the "Enable QL_NEGATIVE_RATES" push you sourced.

Strangely enough, I get a System.ApplicationException with the message "Additional information: non-positive yield" when I try

[code]

The first four values are negative.  Any ideas?

[2015-11-13 10:20] igitur commented on #38
Try the git master branch.

[2015-11-13 10:23] grantathon commented on #38
I tried the master branch as well as Ver-1.5 and both work.  Thanks!

[2015-11-18 09:39] amaggiulli commented on #60
Version 1.5 is on master and NuGet .

[2015-11-18 11:08] igitur commented on #60
I'll look into it.

[2015-11-25 12:11] igitur commented on #60
You have to set your evaluation date explicitly. If I fix this in your code, I get exactly the same values in QLNet and quantlib. Fixed code:

[code]

[2015-11-27 16:21] paveldiko opened #65 "MultiAssetOption greeks are scalar"
I am writing an instrument derived from MultiAssetOption class. The problem I have is that the greeks are declared as scalars in the MultiAssetOption while I need them to all the underlyings. Any suggestions on how to allow them to be vectors in my subclass - apart from effectively overriding entire MultiAssetOption class?

[2015-12-08 13:07] pelife commented on #60
I suggest to add this to the list of examples

[2015-12-12 01:05] mike1232 opened #66 "how to pricing American option with volatility surface?"
In the option examples, QLNet uses the flat term structures for r, q and volatility. how to use the curve term structures? in particular, how to set up a volatility surface and use the surface as input for the pricing engines? In QuantLib C++, you can create a wrapper:

boost::shared_ptr<BlackVolTermStructure> ForwardImpliedVolSurface(Date todaysDate, Date forwardDate, Calendar calendar, std::vect

[2015-12-14 21:43] xiangtaoliu opened #67 "linear least squares regression"
In linearleastsquaresregression.cs,
        public LinearRegression(List<List<double>> x, List<double> y) {
            reg_ = new LinearLeastSquaresRegression<List<double>>(x, y, linearFcts(x.Count));
        }
linearFcts counts the number of explanatory variables, which shouldn't be the number of elements in x. It should be the number of elements in x[0].
x.count is actually the sample size.

[2015-12-17 09:48] amaggiulli commented on #67
This is the code :

[code]

if x is `` List<double> x`` it use linearFcts(1)
if x is `` List<List<double>> x`` it use linearFcts(x.Count)

is that wrong ? Can you explain more ?

[2015-12-17 10:30] amaggiulli commented on #65
Override class Results in your derived class :
```new public class Results : Instrument.Results```
also override fetch results :
 ```public override void fetchResults(IPricingEngineResults r)```

[2015-12-17 10:52] amaggiulli commented on #66
BlackVarianceSurface atm is not implemented in QLNet.

[2015-12-17 10:54] #60 closed

[2015-12-17 16:48] xiangtaoliu commented on #67
linearFcts determines the number of regression factors. The size of x is the size of the sample data. It is required for x.count ==y.count. The size of x[0] is the number of regression factors.

[2015-12-27 01:19] ohm77 opened #68 "QLNet Current State"
I have been trying to use both QLNet and Quantlib (C++) library. I find that QLNet is not updated with all functionalities and features as available in Quantlib. Is there an active development effort for QLNet? If yes, then I have a few questions to ask regarding QLNet, else it might be better to raise these questions on Quantlib forum. Thank you

[2015-12-28 07:40] igitur commented on #68
Well, @amaggiulli is the only one who understands the entire codebase. I joined the project mid 2014 and started porting over some of the missing parts of QuantLib which were relevant to my job. But QuantLib is evolving all the time and it's difficult to keep up to date with a small team.

What would help, is if you can identify which parts you want implemented. If you can port the unit tests that

[2015-12-28 12:15] amaggiulli commented on #68
Feel free to ask everything here , also if you need some part of Quantlib still not converted.
If your questions are about QLNet or C# is useless to ask in Quantlib forum, if your questions instead
are about financial algos you can try on both forum.

[2016-01-01 21:26] underwater opened #70 "validation of bond risk analytics calculations"
i am wondering if anyone has encountered any accuracy problems in using the quantlib for computing bond risk analytic metrics including modified duration, Macaulay duration and convexity.
the result do not match a reference those obtained from an industry-standard 3rd party commercial library used on our production system and i was wondering if anyone has encountered any such issues

[2016-01-02 16:27] amaggiulli commented on #70
Can you detail more ? With some example we can do some test case to checks numbers.

[2016-01-02 17:20] #65 closed

[2016-01-02 17:21] #66 closed

[2016-01-02 17:21] #68 closed

[2016-01-02 22:18] underwater commented on #70
Sure, I should be back at work end of this week, and will to post a sample failing test.   As far as I could see the numbers matched only on coupon dates but differed slightly when there is an accrued interest

[2016-01-11 11:35] bleonardo1 opened #71 "Garman Kohlagen Process ctor in BlackScholesProcess"
There's probably an error in this ctor.
    public class GarmanKohlagenProcess : GeneralizedBlackScholesProcess {
        public GarmanKohlagenProcess(Handle<Quote> x0,
                                     Handle<YieldTermStructure> foreignRiskFreeTS,
                                     Handle<YieldTermStructure> domesticRiskFreeTS,
                                     Handle<BlackVolTermStructur

[2016-01-11 13:06] amaggiulli commented on #71
Fixed in branch 1.6 => https://github.com/amaggiulli/qlnet/commit/5ef847f8421936ce15753e2d042ae1180602a274 . Thx @bleonardo1

[2016-01-11 13:06] #71 closed

[2016-01-25 22:23] akasolace opened #72 "request: example with MaxBasketPayoff"
First I would like to thanks the developer for that quality project, it is really much appreciated.
I was looking for pricing European option on the max of two assets. I can see that in the class payoff there is mention of a MaxBasketPayoff. Is it usuable? If it is the case would you mind to add an example of how to use it? I am currently developing in csharp an implementation of Stulz and I wante

[2016-01-26 09:38] sebgur opened #73 "Convex-Monotone interpolation gives bad results"
Has somebody tested the Convex-Monotone interpolation looking at the data points vs the interpolant?

I find that the interpolant does not even go through the data points. I'm wrapping around it in a simple way from my code, and the wrapping code is the same as for the Cubic Spline but the Cubic Spline works fine. I can see this problem even with very simple data points from a polynomial.

[2016-01-26 14:48] amaggiulli commented on #72
Hi akasolace ,
thank you for your appreciation and welcome to QLNet.
I have done the Stulz engine code with a basket option test that I hope will help you on your work. You can find it in this commit : https://github.com/amaggiulli/qlnet/commit/79cdddbab2a1fa0a71e2fd2f9f21c5df7aba1a86
in the 1.6 development branch.Let me know how it goes.

[2016-01-26 15:11] amaggiulli commented on #73
Hi sebgur , can you write a test case to exploit this bug  ?

[2016-01-26 15:32] akasolace commented on #72
Hey amaggiulli,
Thank you very much for the prompt reply.
It is exactly what is was looking for. I will do the check against my own pricing library and I will provide you feedback.
I already validated my cbvn (Ganz algorithm) and kirk implementation many time. I will also check stulz result against my closed formula implementation. Since yesterday I did perform test against matlab implementation o

[2016-01-26 15:42] sebgur commented on #73
Good idea, I'll unwrap my code and write an MWE. If the problem is still there in the MWE, I'll post it.

[2016-01-27 08:08] akasolace commented on #72
Ok so yesterday I looked at your code and :
     - I realized your implementation was also analtyc, I previously thought it was a mc
     - I ran your testing file using my oww stulz implementation (I removed the kirk testing)
     - the test failed on the 8th example (for the first seven my results were perfectly align with yours and for info differs from matlab result)
      - for the 8th test I

[2016-01-27 08:59] amaggiulli commented on #72
Great , for now I close this issue then.

[2016-01-27 08:59] #72 closed

[2016-01-27 09:00] amaggiulli commented on #70
Hi @underwater , any news on that ?

[2016-01-28 08:10] akasolace commented on #72
Hello amaggiuli,
So yesterday I changed my cbnd implementation, it gained precision and it solved my issue.
By the way I modified my unit test for cbnd and I ran it within qlnet v1.6 and the test passed with qlnet implementation of cbnd
Now the unit test fails on test 24 (the first test with T=0.5). Thing is that on that one my value match exactly the result of Matlab (which differs from qlnet).
I

[2016-01-28 09:20] igitur commented on #66
I implemented `BlackVarianceSurface`. You can find it in the master branch. However, I don't have any test cases and I'm unsure how buggy my implementation is. @mike1232 , if you can provide some tests, it would help a lot.

[2016-01-28 09:49] amaggiulli commented on #66
moved on Ver-1.6 branch

[2016-01-28 09:53] igitur commented on #66
See #76

[2016-01-30 16:46] sebgur commented on #73
Here is a minimal piece of code that reproduces what I think is wrong. Or I might be using QLNet incorrectly, so if I do please let me know what I'm doing wrong.

The code creates sample points (xList, yList), puts them in the interpolator, and then uses the interpolator to calculate the interpolant at the original points xList. It should be identical to yList but it's not. You can comment in the

[2016-02-01 16:13] akasolace commented on #72
I just checked agains QuantLib, and behaviour is the same.
Hence I will try to get answers directly from Quantlib forum.

[2016-02-02 22:56] akasolace commented on #72
ok this time the subject is really closed :-)

[2016-02-03 08:00] igitur commented on #72
@akasolace If you post the query on the QuantLib forum, let me know. I want to follow it there too.

[2016-02-03 10:43] akasolace commented on #72
I opened the bug in QuantLib forum ... and it was close by Luigi
(https://github.com/lballabio/QuantLib/issues/47)
Issue was on my side as I more or less copied and paste your unit test into my code without thinking
This time everything is fine, my code passed your kirk and Stulz test unit example.
If at some point you want to implement some Greeks calculation and are looking for test data, I woul

[2016-02-04 10:06] amaggiulli commented on #73
ConvexMonotone is tested on T_PiecewiseyieldCurve.cs test class , is used to bootstrap curve and works as expected , I'm not sure about your test , still investigating . Btw both library give same results.

[2016-02-04 13:39] sebgur commented on #73
Thanks. I've seen the test code when I was trying to check if I'm using the code incorrectly, but I'm not familiar enough with quantlib to see in details what it tests. Would that test fail if the interpolation missed its original points?

-----Original Message-----
From: "Andrea Maggiulli" <notifications@github.com>
Sent: ‎04/‎02/‎2016 10:06
To: "amaggiulli/qlnet" <qlnet@noreply.github.com>
Cc: "

[2016-02-18 08:44] jbtheming commented on #73
I guess a good test will be to compare the QuantLib implementation with the results obtained from the example VBA code available on the interpolation author's website [http://finmod.co.za/Monotone%20Convex%20Interpolation.xls](url) I'll do this when I get a chance. QuantLib may be wrong, although the source code comments say it is an enhanced version of the original so this might explain any diffe

[2016-02-18 09:39] sebgur commented on #73
Many thanks for the link, I'll take a look. Maybe I'll translate in C# and see what happens.

-----Original Message-----
From: "jbtheming" <notifications@github.com>
Sent: ‎18/‎02/‎2016 08:44
To: "amaggiulli/qlnet" <qlnet@noreply.github.com>
Cc: "sebgur" <sebgur@gmail.com>
Subject: Re: [qlnet] Convex-Monotone interpolation gives bad results (#73)

I guess a good test will be to compare the QuantLi

[2016-02-24 21:44] amaggiulli commented on #73
If any good come share with us :)

[2016-02-24 21:44] #73 closed

[2016-02-24 21:45] #70 closed

[2016-02-24 21:59] amaggiulli commented on #67
Fixed https://github.com/amaggiulli/qlnet/commit/6777be57ce4a5c1df0a9ece86c1c34bb8af5ae8d

[2016-02-24 21:59] #67 closed

[2016-02-24 22:02] #61 closed

[2016-02-24 22:02] #43 closed

[2016-03-13 04:28] ohm77 opened #77 "American Option pricing with Discrete Dividend"
I am looking for American option pricing with discrete dividend via Monte Carlo or Binomial option. While quantlib/qlnet has the finite difference implementation for the same, I am curios if quantlib has functionalities in this regards.

[2016-03-15 22:35] amaggiulli commented on #77
Quantlib or QLNet ?

[2016-03-17 10:13] ohm77 commented on #77
Either one, I did not come across DividendVanillaOption (the option model that supports discrete dividends) being used anywhere else apart from Finite Difference based pricing.

I would highly appreciate If you could point me to discrete dividend implementation via Monte Carlo or Binomial model either in Quantlib or QLNet.

[2016-05-05 04:02] vina0007 opened #78 "MBSFixedRateBond - wrong price"

[2016-05-06 12:21] #78 closed

[2016-05-22 06:05] tomislav-t opened #84 "Assertions failing in EquityOption sample on timeSteps==null || timeStepsPerYear==null"
Hi,

I am new to QLNet and was trying to run the EquityOption sample. It now fails on an assertion in the MCVanillaEngine:

         Utils.QL_REQUIRE( timeSteps == null || timeStepsPerYear == null, () =>
                    "both time steps and time steps per year were provided" );

The variables are declared as int and not as int? meaning they can never have the null value.

I think MakeMCEuropea

[2016-05-22 06:34] igitur commented on #84
Yes, I think you're right.

[2016-05-23 08:29] amaggiulli commented on #84
Working on it

[2016-05-23 12:09] amaggiulli commented on #84
Fixed in 3eac6d3949e0e3cb2aa1ee531847385f0f18dd86

[2016-05-23 12:09] #84 closed

[2016-05-26 04:07] tomislav-t commented on #84
Thanx, I can see it does not fail on these asserts anymore...

Tomislav

On 23 May 2016 at 14:09, Andrea Maggiulli <notifications@github.com> wrote:

--
Tomislav Trajkovski
Managing Director
Applify BV

Head Office, Delft
Rotterdamseweg 183C
2629 HD Delft
The Netherlands
Telephone: +31 (0)15 2120684
Cell: +31 (0) 637 376974
Fax: +31 (0)15 2121517
Email: tomt@applify.com

[2016-05-30 15:53] igitur opened #89 "Design flaw in how polymorphism and generics work"
I'm not sure whether this is a major problem, but I struggled for a long time and couldn't solve it. I'm trying to implement the default probability curves. The design pattern is similar in how the yield term structures work.

To illustrate the problem, look at the `testLinearDiscountConsistency` test. It uses a `PiecewiseYieldCurve` to build a curve and interpolates the `Discount` curve using `Li

[2016-05-30 15:53] igitur commented on #89
I still have to commit my new branch with the default curves, but even without it, the problem exists in the yield curves too. We're just lucky the tests pass.

[2016-05-31 14:16] amaggiulli commented on #89
The real problem for us is that PiecewiseYieldCurve in c++ is derived from a template parameter typedef :

[code]
so ```InterpolatedDiscountCurve<T>``` is the base class of  ```PiecewiseYieldCurve<Discount,LogLinear,IterativeBootstrap>``` and you can call :

base_curve::discountImpl(t);

This is impossible to do in c#, so during the years we tried to make a configuration that works in most cases .

[2016-05-31 18:21] igitur commented on #89
Well, yes, that's what I was also trying to say. ;-)

I'll start reducing the problem so that it's easier to look for alternative solutions.

[2016-06-17 08:51] igitur commented on #89
Hang on, I'm still working on this...

[2016-06-30 13:57] screig opened #93 "Serialisation"
Hi
Firstly thanks for your great work! In the future would it be possible to add serialisation attributes to the classes. I would like the ability to be able to serialise term structures for later use.
Thanks
Sean

[2016-07-14 16:20] georgiosd opened #96 "Intra-day BAW"
Gentlemen, I read about this limitation of quantlib: https://hpcquantlib.wordpress.com/2015/01/04/intraday-high-resolution-day-counters/

Is this also true of QLNet? Is it still relevant?

[2016-07-15 16:07] amaggiulli commented on #96
No,  is fixed in both libs.

[2016-07-16 09:52] leo90skk opened #97 ".NET Core Support"
I want to use this app in an .NET Core application. Can you please add support for it?

[2016-07-21 22:07] leo90skk opened #99 "CubicSplineInterpolation.cs not in project file"
the file QLNet\Math\Interpolations\CubicSplineInterpolation.cs is not in the project file - so it will not be compiled in the library.
Why do we have that file in the repo than?

[2016-07-23 06:50] leo90skk commented on #97
it took to long for me, so i did it by myself.

[2016-08-12 07:45] grantathon opened #103 "InterpolatedZeroCurve construction using tenor dates, rates, and reference date"
When I create an InterpolatedZeroCurve using a specific set of dates, set of yields, day counter, interpolator, compounding, and frequency, my first date always gets anchored to time zero, which is expected.  Unfortunately I'm not allowed to add a reference date within that specific overload, so any interpolations that are performed must first have the difference between the true reference date an

[2016-08-12 08:52] amaggiulli commented on #103
I don'y know why initialize method of InterpolatedZeroCurve always add a 0.0 to the list of dates.

You can access ( and modify ) the list of dates after construct the InterpolatedZeroCurve :

`InterpolatedZeroCurve.times_ `

The first time is 0.0, the second is your reference date .

[2016-08-12 08:59] grantathon commented on #103
It doesn't add zero to dates.  The first time 0.0 should be related to the reference date, but it's related to the first tenor date (this is not the reference date, it's the first point on the curve).  The problem with this is that when you interpolate for the true reference date using interpolation_.value(0.0), you get the first tenor rate which is not expected.  What is expected is to get the th

[2016-08-12 09:08] amaggiulli commented on #103
I'm trying :)  . Can we build a test togheter to help me understand what you need ?

[2016-08-12 11:46] grantathon commented on #103
Below would be an appropriate unit test (added to T_TermStructures.cs in my local repo):

`[TestMethod()]
        public void testInterpolatedZeroCurveWithRefDateAndTenorDates()
        {
            CommonVars vars = new CommonVars();

            // Create the interpolated curve
            var refDate = new Date(1, 10, 2015);
            var dates = new List<Date>()
            {

[2016-08-12 12:07] amaggiulli commented on #103
Understand now :) . Your test fail actually , what do you think doing like this :

1) Add new Date(1, 10, 2015) to the list of dates.
2) Add 0 to the list of yields
3) call unmodified ctor

this is the working test :
[code]

[2016-08-16 16:01] grantathon commented on #103
This doesn't solve the problem.  Again, the problem is that one must be able to extrapolate from the given dates and yields to the reference rate while still being able to interpolate across the previously set values.  Due to the fact that the true value is unknown, we cannot assume that it is set to zero (which is what you've done here) and, therefore, must extrapolate using a properly created in

[2016-08-16 16:03] igitur commented on #103
@amaggiulli hates it when I ask this ;)

But what is currently happening in QuantLib? Same problem?

[2016-08-16 16:29] grantathon commented on #103
I haven't tried it in QuantLib but I probably should.  Either way, the implementation is numerically wrong and will probably just create a wrapper class to resolve the issue.  I will notify this thread with the code after I've done so.

[2016-08-17 06:33] grantathon commented on #103
I just created a wrapper class to allow the proper interpolation and extrapolation, but it appears QLNet throws an exception when interpolating negative numbers.

`
public class InterpolatedCurveAdapter
{
    private InterpolatedCurve Curve { get; set; }

    private double TenorOffset { get; set; }

    public Date ReferenceDate { get; set; }

    public List<double> Data
    {
        get

[2016-08-24 13:46] Askolein opened #106 "Date.daysBetween return wrong result"
Hi all,

In the [file Date.cs](https://github.com/amaggiulli/qlnet/blob/master/QLNet/Time/Date.cs) at line 68, the current implementation of static method `daysBetweenDate` is
[code]

In my opinion the correct implementation should be:
[code]

To illustrate the error of the current implementation, here is a correction in the current implementation (same result as the one proposed above):
[code]

O

[2016-08-24 16:16] igitur commented on #106
The error is actually in the operator overload:
[code]
should be:
[code]

That fixes it.

But I think your fix (using `TotalDays`) will improve performance even more.

[2016-08-26 06:56] Askolein commented on #106
Well spotted @igitur .
Best approach would be to use `TotalDays` for the `daysBetween(..)`method but also to fix the operator as you suggested.

These are major bugs that impact most of the results. Can it be fixed? Included in the next release?

Thanks.

[2016-08-29 10:34] amaggiulli commented on #106
Well spotted ,  fixed in cc4ef00defa92555df38c03facbc29bfb7f577c9 . Will be in the next major release

[2016-08-29 10:34] #106 closed

[2016-08-29 10:35] #96 closed

[2016-08-29 10:41] amaggiulli commented on #103
Thanks for contribution , still I think I miss something , interpolation and extrapolation works well in both libs and are widely used by users , maybe there is a way of using the current code that work as you expect.
@igitur can you investigate on quantlib forums about this ? ( and no , I dont hate when you ask about it :) )

[2016-08-29 10:44] amaggiulli commented on #99
is a work in progress.

[2016-08-29 10:44] #99 closed

[2016-08-29 10:45] igitur commented on #103
@amaggiulli I was just teasing :-P

@grantathon , I've seen you a few times on the QuantLib forum. So I'll first try to clear this up with them first and after that we'll come back and complete it here. (PS: But then you owe me that NQuantLib project that I requested a few times from you, ok?)

[2016-08-29 10:50] amaggiulli commented on #93
in todo list . Btw you can contribute on this , if you need help on how contribute ask here .

[2016-08-29 10:50] #93 closed

[2016-08-29 12:04] screig commented on #93
I would be happy yo contribute. i took a fork of the code and added serialization attributes all over it, off course that did not work. Where would you start with this?

[2016-08-30 20:28] leo90skk commented on #99
... I would prefer a git branch ...

[2016-09-01 14:56] amaggiulli commented on #97
branch develop now is .net core compatible .

[2016-09-01 14:56] #97 closed

[2016-09-15 09:52] grantathon commented on #103
Hey @igitur, sorry for the delay.  The code used to create NQuantLib64 can be found here -> https://github.com/grantathon/nquantlib64, which also contains instructions on how to build it properly.

[2016-10-25 13:18] Galen02 opened #108 "Efficient option evaluations"
Is there a quick way to evaluate an option over multiple dates and underlying prices?  The QLNet examples show options being evaluated for one date/price.  I was wondering if there was a more efficient way to do it without reinstantiating all those classes (like the engine and stochastic process) .   I've included an abbreviated version of the function I'm trying to optimize to show what I'm doing

[2016-11-28 10:07] quant1729 opened #110 "testFdGreeks support for theta approximation"
Hello Andrea,

Thank you for your work on QLNet. Really appreciate it. Wanted to clarify one moment with testFdGreeks test. I have noticed that theta approximation in the test is commented out. I stumbled upon this test while trying to figure out why my theta approximation code returns zeros (effectively the same code you have commented in your test). Seems like if I set new evaluationDate up for

[2016-11-28 13:01] amaggiulli commented on #110
Hi Pavel , than you for your appreciation .
I think the code commented in T_AmericanOption and T_DividendOption was introduced in the middle of events refactory done some time ago. I have removed the comments and the code work now ( theta pertubation ). I will commit now . So there is no problem for data reevaluation , let me know if I can help you more .

[2016-11-28 13:09] quant1729 commented on #110
Thank you a lot for such a quick reply. May I ask you to make a nuget release from your latest changes? I am using your library via nuget, and it would be great just to update the link. Thank you.

[2016-11-28 13:13] amaggiulli commented on #110
Release 1.9 is on the way ,  I have some work to finish then I will publish the new version.  Anyway I think that the nuget version of the library ( 1.8.0 ) works too.

[2016-11-28 13:22] amaggiulli commented on #110
I check better and see there is a problem in theta calculation not regarding the date reevaluation ,  going to test more , I will let you know :)

[2016-11-28 13:50] amaggiulli commented on #110
Ok , I understand now . Problem is that FD Engines ( FDStepConditionEngine , FDMultiPeriodEngine... ) do not calculate theta , so no pertubation can be done on a value not calculated . Actually theta is calculated only in the following engines :

AnalyticContinuousGeometricAveragePriceAsianEngine
AnalyticDiscreteGeometricAveragePriceAsianEngine
ForwardPerformanceVanillaEngine
ForwardVanillaEngine

[2016-11-28 14:38] quant1729 commented on #110
Thank you. It is clear. What I am doing is basically is I want to approximate greeks (incl. theta) for models that dont produce it. e.g. CrankNicolsonFD.

In case of theta I am shifting the evaluationDate and rerun the calculations (calling .NPV()). I get exact same number (npv) back, as if new evaluationDate was not used in new calculations. If I recreate all the classes for new calculation (yiel

[2016-11-28 15:11] amaggiulli commented on #110
Ok , then what you have to check is that your process register with date update.

[2016-11-28 19:05] quant1729 commented on #110
Can you please elaborate on this? How this should be done? I am following very basic example by Luigi here - https://www.youtube.com/watch?v=MgUlBB59Ll0

[2016-11-29 09:52] amaggiulli commented on #110
What you have to use is something like :
`process_.registerWith(update);` ( look AnalyticDividendEuropeanEngine ctor )
To better help you consider PR a test case based on what you want to achieve

[2016-11-30 14:15] quant1729 commented on #110
Frankly I dont understand your suggestion. Let me suggest a test case:
1. I would like to estimate theta for option using CrankNicolsonFD model. In order to do so, it is enough just to calculate NPV of the option for today and for tomorrow. Resulting approximation formula is simple.

In terms of code, this is what I expect to return non-zero theta. It is effectively a C# version of Python code on

[2016-11-30 15:19] amaggiulli commented on #110
Working on it, thank you for the code

[2016-11-30 16:47] amaggiulli commented on #110
Got it ! =)

Error is in flatTermStructure construction :

`var flatTermStructure = new Handle<YieldTermStructure>(new FlatForward(settlementDate, riskFreeRate, dayCounter));`

Using this FlatForward constructor , the termstructure use a fixed referenceDate = settlementDate

To link termstructure to evaluationdate changes use :

`var flatTermStructure = new Handle<YieldTermStructure>(new FlatForwa

[2016-11-30 21:47] quant1729 commented on #110
Wow! Thank you for help. I was looking for some subtle convention, but couldn't find it myself. I think it's worth documenting this moment somehow, make it explicit. maybe even in the original option example. I guess many users may have similar problems.

Thank you for help, Andrea. Much appreciated.

[2016-12-01 09:32] amaggiulli commented on #110
You welcome Pavel , if you develop the approximate greeks , or want to document the code please consider contribute .

[2016-12-07 16:04] Askolein opened #112 "Improvement idea: Use specific type for exceptions"
Hi,

It would be very useful for exception handling if the following utils:

_Utils.QL_REQUIRE_

throws a dedicated type of exception instead of the generic System.Exception. C#6 and C#7 have lots of goodies to handle exceptions by type and QLNet ones cannot be differentiate easily.

Change is minor:
 * Create an exception class that inherits System.Exception
 * Change the "_Utils.QL_REQUIRE_" cod

[2016-12-07 16:35] amaggiulli commented on #112
+1 for the 2 exception

[2016-12-07 16:36] #110 closed

[2016-12-07 16:36] igitur commented on #112
I also support this, but I think the exceptions should be more granular than just QL_REQUIRE and QL_FAIL. For example, an exception for missing / wrong inputs. Another exception for calculation error. etc.

[2016-12-07 16:47] Askolein commented on #112
Totally agree on the "more granular" idea. Also, exception could be filled with context property like strike, dates, ... so that we do not only rely on the message it self to get the information.

But I'd say: step by step.

[2016-12-21 23:30] jiskin commented on #103
Hello,

I'm new to QLNet, but I really enjoyed the work you have done, thank you.

I'm facing the same issue than @grantathon. As mentionned above, giving the 0.0 value on reference date is completely wrong and not accurate, specially when the first tenor available is (for example) 6 months away from reference date.

Have you made some advances regarding this?

Thanks

[2016-12-23 15:42] amaggiulli commented on #103
Finally I found some time to work on this , think this commit fix the issue : https://github.com/amaggiulli/qlnet/commit/9dde204faa0689aeff2ecf0c687fc1049bd9854e
please let me know

[2016-12-23 16:19] igitur commented on #103
Any idea whether I should backport this to Quantlib? I have limited connectivity and can't check the Quantlib source myself now.

[2016-12-23 16:31] amaggiulli commented on #103
I will pr this to Quantlib on positive feedback by QLNet users , also need more testing when Compounding is not continuous.

[2016-12-23 18:03] jiskin commented on #103
Hello,

I can perform some tests from tuesday next week. I will let you know. Thank
you for your work.

Sorry I am not familiar enough with the library to submit something on
github yet...

Le 23 déc. 2016 5:31 PM, "Andrea Maggiulli" <notifications@github.com> a
écrit :

[2017-01-04 15:31] jiskin commented on #103
Hello,

I have tried your improvement and it's working fine on my application with all type of Compounding.

I have also performed a test with Bond pricing and I have consistent results with Bloomberg.

[2017-01-04 16:22] amaggiulli commented on #103
Great !
Thank you @jiskin , @grantathon can you test it too ?
New version 1.9.0 coming in few days with all develop improvements.

[2017-01-13 09:03] mannau opened #115 "Error Casting QLNet.ArithmeticAPOPathPricer to QLNet.PathPricer<QLNet.IPath>"
Hello,

I encountered a potential bug using MCDiscreteArithmeticAPEngine as follows:

[code]
which gives me the following error:

[code]
and pops at the following line:
https://github.com/amaggiulli/QLNet/blob/develop/QLNet/Pricingengines/asian/mc_discr_arith_av_price.cs#L68
It seems that Upcasting generic types does not work in C# (you have to copy the object somehow) and thus is a language issue

[2017-01-13 12:37] amaggiulli commented on #115
previous commit should fix the issue , let me know

[2017-01-18 10:00] #115 closed

[2017-01-18 10:00] #103 closed

[2017-01-24 11:07] screig commented on #97
Is there a net core nuget package?

[2017-01-24 12:36] leo90skk commented on #97
.net core is not a nuget package, it is a new base framework which supports cross platform development / compilation

[2017-01-24 12:49] screig commented on #97
Hi
Yes, I know that thanks, let me be a bit more clear. If you look at this Nuget package:

https://www.nuget.org/packages/Newtonsoft.Json/9.0.2-beta2

You can see two things, firstly that the Json.net project has been ported to Net.Core and also on building the Nuget package a version to support Net.Core has been included. Such that if one is working to that framework (net core) one can can get t

[2017-01-24 13:17] amaggiulli commented on #97
Yes , actually only .net 4.0 version is on Nuget ,
I need some support to include the net core version in the same build .

[2017-01-24 13:19] screig commented on #97
I can take a look that if you wish?

[2017-01-24 13:20] amaggiulli commented on #97
Sure

[2017-01-24 14:44] amaggiulli commented on #97
I will create new issue to handle this enhancement.

[2017-01-24 14:48] amaggiulli opened #117 "Build and publish to different .net framework"
Organize project solutions to obtain a Nuget package with multiple target framework like this :

![libs](https://cloud.githubusercontent.com/assets/5287576/22251789/51e257da-e24c-11e6-8b8c-d84e725c8c7b.JPG)

[2017-01-24 16:03] screig commented on #117
How and where does the building of the nuget package happen at the moment?

internally, where I work I do something like so:

NuGet.exe pack _CENTRAL\SomeName\SomeName.csproj -Properties Configuration=Release -Version 1.%comlib_version%.0 -Verbosity "Detailed" -Exclude "FodyWeavers.xml" -OutputDirectory "%WORKSPACE%\__NugetPackages"

You can also do it off the nuspec file

[2017-01-24 16:08] amaggiulli commented on #117
On AppVeyor : https://ci.appveyor.com/project/amaggiulli/qlnet

[2017-01-24 16:16] screig commented on #117
Ok cool

After this line:

msbuild "C:\projects\qlnet\QLNet.sln" /verbosity:minimal /logger:"C:\Program

just need to also build the netcore solution, then we just add a line to the nuspec file to also include the dll (built from the net core solution) in to the package. Like so

.....
 </dependencies>
    </metadata>
	<files>
		<file src="bin\Release\netcore.dll" target="lib\**netcore** (correct

[2017-01-24 16:16] screig commented on #117
</dependencies>
    </metadata>
	<files>
		<file src="bin\Release\netcore.dll" target="lib\netcore " />
	</files>

</package>

[2017-01-24 16:19] amaggiulli commented on #117
I looked at JSon.Net and there are different solution/project files for every version, we have to do something similar ?

[2017-01-24 16:24] screig commented on #117
on the main solution file, you can do a batch build config. So when you build the main solution it produces binaries for net framework x to y. Depending on what can be built.  They should all appear in different release folders under the bin folder of the main solution. Nuget will either pick them up dynamically, if not they can be specified like so:

    <file src="bin\Release\SameName.dll" targe

[2017-01-24 16:29] screig commented on #117
sorry Im incorrect on that, will need a solution file for each framework I think.

[2017-01-24 16:30] screig commented on #117
http://shazwazza.com/post/multi-targeting-a-single-net-project-to-build-for-different-framework-versions/

[2017-01-24 16:41] amaggiulli commented on #117
Great , yes I think we can compile for all target . I start some test now , for older version of the framework we can do a macro that enable/disable features ( like System.Numerics based classes that works only on 4.0+ ).

[2017-01-24 16:54] screig commented on #117
Seeing that .....

Severity	Code	Description	Project	File	Line	Suppression State
Warning		The primary reference "System.Core", which is a framework assembly, could not be resolved in the currently targeted framework. ".NETFramework,Version=v2.0". To resolve this problem, either remove the reference "System.Core" or retarget your application to a framework version which contains "System.Core".	QLNe

[2017-01-24 16:59] amaggiulli commented on #117
Maybe we can start with 4.0 , 4.5 and 4.6..

[2017-01-24 17:00] screig commented on #117
sure

[2017-01-24 18:34] screig commented on #117
made a pull request, not appvoyer needs to tweaked.

[2017-01-25 15:33] amaggiulli commented on #117
Some minor problems on AppVeyor but I think we got it , thx @screig for support .
Please NET Core users  let me know if nuget "Install-Package QLNet" it works on NET Core solutions

[2017-01-25 15:43] screig commented on #117
Cool, I will try this

[2017-01-29 14:01] hamidsharifi opened #119 "Documentation for user manual and list of functions"
hi dear
how can I have a documentation or user manual for QLNet that has list of all functions. also I need to use Covariance of two array(with equal row), but I don't know how I must write.
thx

[2017-02-02 11:25] amaggiulli opened #120 "Floating numbers equality"
I have enabled another tool for code analysis , SonarQube , you can check it here [https://sonarqube.com/dashboard/index?id=QLNet-develop](url). This tool, like Resharper , bother about floating point comparison so I developed a double extension to compare doubles (fcfbb62906db71ef18e37f3a027770487f370dc6) , from my tests the overhead is very low but if someone know a fastest way to do it let me k

[2017-02-02 15:11] igitur commented on #120
What was wrong with normal `==` ?

[2017-02-02 16:00] amaggiulli commented on #120
Resharper : https://www.jetbrains.com/help/resharper/2016.3/CompareOfFloatsByEqualityOperator.html
SonarQube : https://sonarqube.com/coding_rules#rule_key=csharpsquid%3AS1244

[2017-02-02 18:58] igitur commented on #120
I understand that floating point operations aren't exact and therefore `==` is dangerous to use, but how does `.IsEqual()` solve that? Doesn't that just hide the problem from Resharper and SonarQube?

[2017-02-04 12:02] amaggiulli commented on #120
Absolutely not , IsEqual is implemented like that :
`if (Math.Abs(d1 - d2) <= double.Epsilon)
            return true;
 return false;`

instead of direct comparison use a tolerance to check the difference

[2017-02-05 22:49] datametrics opened #121 "clone() in OvernightIndex"
Hello,

i think there is an issue with the return value in overnightindex.clone(..):

This prevents the downcast after the clone (i.e.: oi.clone(yts) as OvernightIndex will not work):
`public new IborIndex clone( Handle<YieldTermStructure> h )
 {
         return new OvernightIndex( familyName(), fixingDays(), currency(), fixingCalendar(),
                                   dayCounter(), h );
}`

t

[2017-02-06 11:20] igitur commented on #120
Sorry, I was thinking of `Equals()`. Didn't notice that you added an extension method for `IsEqual()`.

[2017-02-06 15:36] #117 closed

[2017-02-06 15:37] #121 closed

[2017-02-10 18:03] datametrics opened #122 "clone() for BmaIndex"
..would be nice to have a clone method in BmaIndex like

`public virtual BMAIndex clone(Handle<YieldTermStructure> forwarding)
        {
            return new BMAIndex(forwarding);
        }`

thx!

[2017-02-10 19:34] datametrics opened #123 "ConvertibleBond arguments"
There seems to be an issue with the cast to convertiblebond price engine arguments:

At this point moreargs will be null since

`
public override void setupArguments(IPricingEngineArguments args){
           base.setupArguments(args);
           ConvertibleBond.option.arguments moreArgs = args as ConvertibleBond.option.arguments;
           Utils.QL_REQUIRE( moreArgs != null, () => "wrong argument

[2017-02-10 19:45] datametrics opened #124 "OvernightIndexCoupon - assignment of fixingdates"
the insert of fixing dates produces an argumentoutofrangeex since the list has no elements:

`fixingDates_ = new List<Date>(n_);
            for (int i=0; i<n_; ++i)
                fixingDates_[i] = overnightIndex.fixingDate(valueDates_[i]);`

i replaced it with:

`fixingDates_ = new List<Date>(n_);
                for (int i = 0; i < n_; ++i)
                    fixingDates_.Insert(i, overnightI

[2017-02-13 10:21] #120 closed

[2017-02-13 10:26] amaggiulli commented on #123
I dont think the problem is the cast , but just the lists that are not initialized . A fix will follow

[2017-02-14 11:07] #124 closed

[2017-02-15 09:59] #123 closed

[2017-02-16 15:31] jiskin opened #128 "VS2013 compatibility issue"
Hello,

I have errors when I try to compile on two source file:

**Date.cs**
`public int Day => date.Day;`

Makes the following error

The second issue is coming from the notation in
**InflationCoupon.cs**
`pricer_?.unregisterWith(update)`

Gives the error:

And should be revert to
`if (pricer_ != null)
             pricer_.registerWith(update);`

[2017-02-16 16:28] #128 closed

[2017-02-19 13:38] FredericDgrv opened #129 "QLNet With Examples dont compile anymore"
Building QLNet.csproj in QLNet_with_Examples.sln is no longer possible since DotNet Core integration.

Error :
Severity	Code	Description	Project	File	Line	Suppression State
Error		Your project is not referencing the ".NETFramework,Version=v4.0" framework. Add a reference to ".NETFramework,Version=v4.0" in the "frameworks" section of your project.json, and then re-run NuGet restore.	QLNet	C:\Progra

[2017-02-20 09:41] amaggiulli commented on #129
What version of VS are you using ? I can compile QLNet_with_Examples.sln with VS 2012 and Vs 2015 without errors.

[2017-02-20 21:04] FredericDgrv commented on #129
Microsoft Visual Studio Community 2015 Version 14.0.25431.01 Update 3 (no available update at the moment).

I did a try with VS 2013 Professional at work and it worked perfectly...
I didn't find why it wants so badly project.json...

Below output with activated verbose log:

Restoring NuGet packages...
To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, cl

[2017-02-21 09:47] amaggiulli commented on #129
Are you on branch develop ? Have you pull the latest changes ? I dont understand why system try restoring NuGet packages ...have you the source code or the dll downloaded by nuget ?

[2017-02-21 11:14] FredericDgrv commented on #129
Same behavior on latest source code of master and develop.
No clue either...

I created a new project and installed the Nuget from internet to work on my
task. It worked well.

On February 21, 2017 10:47:10 AM Andrea Maggiulli
<notifications@github.com> wrote:

[2017-03-07 13:13] #129 closed

[2017-03-07 13:56] igitur commented on #129
I had the same issue a while back. Had to delete `*.json`, `QLNet.xproj` and had to restart Visual Studio.

[2017-03-07 16:45] amaggiulli commented on #129
yes , deleting qlnet.project.json solve then problem  , too bad not compile anymore the 40 and 45 version ..I'm going crazy to make AppVeyor build all versions..

[2017-03-07 16:55] amaggiulli commented on #119
Sorry, QLNet have no manuals at the moment , basic informations are inside the code as comments.

[2017-03-07 16:55] #119 closed

[2017-03-08 20:50] igitur commented on #119
My advice is look at the Quantlib documentation and then look to see if the part you're interested in has been ported to qlnet

[2017-03-13 13:22] jiskin opened #133 "Utils.QL_REQUIRE not reached"
Hello,

I have noticed that some errors are not reached by the code. For example in InflationIndex.cs (line 400) :

`double? pastFixing = IndexManager.instance().getHistory( name() ).value()[fixingDate];
               Utils.QL_REQUIRE( pastFixing != null ,()=> "Missing " + name() + " fixing for " + fixingDate );`

if the fixing date is not in the Dictionary, the error message sent will  be "Key n

[2017-03-15 17:01] #133 closed

[2017-03-18 08:58] datametrics opened #137 "Unprecise values in PiecewiseYieldCurve"
I am currently doing some kind of a delta approximation and i am wondering why i get
undesired values when i shift each ratehelper one by one for a bp.

After reverting the shift i would expect the zero rates to be the same as before the
shift and consequently the pv of a zerobond. But the result looks like this:

[code]

Even after a reset the difference stays in most of the buckets.

I think it

[2017-03-21 14:03] amaggiulli commented on #137
Yes , is strange . The difference is indipendent from the shift value , and is generated from
BaseCurve.discount(date)

[2017-03-21 20:39] datametrics commented on #137
The rounding of doubles seems to be ok at least in qlnet v. 1.3.0.0. (I guess there are a lot of changes in between)

[2017-03-22 10:35] amaggiulli commented on #137
yes , but not on rounding .

[2017-03-22 10:46] igitur commented on #137
Refer to `IterativeBootstrap.cs` line 236 to 239.

The first bootstrap (without the shocks) uses the `Brent` solver as the numerical method to bootstrap the curve.

When you unset the shocks, an existing curve already exists (`validData == true`) and then the numerical method used is the `FiniteDifferenceNewtonSafe`.

Indeed if I change the solver to `Brent` in `IterativeBootstrap.cs` line 54, the

[2017-03-22 11:23] igitur commented on #137
I asked on http://quantlib.10058.n7.nabble.com/Different-first-and-non-first-solvers-for-IterativeBootstrap-td18151.html why they decided to use 2 solvers.

[2017-03-22 11:25] amaggiulli commented on #137
Well done @igitur , sound strange to use two different solver , but this explain the minimal difference

[2017-03-22 19:25] igitur commented on #137
Fernando gave the answer in the thread mentioned before.

[2017-03-22 23:20] datametrics commented on #137
Oh, great! That was fast, thanks! So it works as designed...good to know.

Do you see any way to manipulate the behavior so that the bootstrap uses Brent for subsequent iterations selectively?

Maybe an explicit recalculate() is enough or even an additional constructor overload or generic contructor?

I mean especially in that use case a bootstrap of the complete curve for each shock does not make

[2017-03-23 07:33] igitur commented on #137
To be honest, I think you're attempting spurious accuracy. With numerical methods, there is always a margin of uncertainty around the unknown true value. Differences of 1e-10 should, in my opinion, be ignored.

[2017-03-23 08:08] datametrics commented on #137
In general i would totally agree. For me, the situation becomes relevant when i scale these shifts with 1000 eg. That is not yet part of the sample. After scaling especially lines 5-8 of the output would have a value >0. So as an expected result only line 9 and 10 in the output should have form an interest rate exposure. All other buckets in the curve shouldn't have any effect on pv of the mention

[2017-03-23 09:53] igitur commented on #137
The simplest and fastest solution is to round your unscaled NPVs to e.g. 9 decimals. Then scale the rounded values. Use `Math.Round()` . The rounded values can't be considered less correct than the unrounded values.

[2017-03-23 10:00] datametrics commented on #137
Jepp, i'll give it a try. Thanks!

[2017-03-27 10:31] datametrics opened #139 "volatility surfaces and market data"
Hi alltogether,

I've got a question regarding volatility structures.

I'd like to know what the best approach would be to interpolate e.g. a stock vola surface. Given the classes in the lib, I was able to interpolate the surface from fictive implied volatilities of let us say some ATM call options.

That implies that you have to retrieve implied volatilities from the markets.

But what about retr

[2017-03-28 08:34] igitur commented on #139
My recommendation is you ask this on the `QuantLib` forum and if any classes are missing in `QLNet`, let us know. I also ported the `HestonBlackVolSurface` class in #141 . I still have to find a unit test that doesn't require porting a whole bunch of other (finite difference) classes too.

Maybe @amaggiulli  can be more helpful about your question.

[2017-03-28 09:14] jiskin commented on #139
Hello,

The implied volatility are quoted on Bloomberg (for example SX5E Index has SX5E 3M 100 VOL BVOL Index ticker available). They also provide (using DLIB) the results of their volatility surface. However, I'm not always satisfied with their extrapolation.

From this I'm currently working on building a volatility surface from Call/Put quoted options.
1/ You must start by selecting the most liq

[2017-04-02 00:02] datametrics commented on #139
Thanks @igitur for your port. I did some tests and it seems to run very well.

I posted a similar question to usergroup. There i mentioned another issue with missing values in the volatility matrix for the blackvariance surface. What I've found so far is that a laplaceinterpolation generally could be able to deal with missing cells in the vola matrix. SInce i have no quantlib setup and only use ql

[2017-04-04 18:26] datametrics commented on #139
..gave it a try and ported laplace. I'm sure you would correct some class styling. And unfortunately it doesn't produce meaningful results yes. There is still a bug somewhere because all interpolated values are below 1.
If you could have a look that would be great!

Regards,

[BicgStab.txt](https://github.com/amaggiulli/QLNet/files/894108/BicgStab.txt)
[LaplaceInterpolation.txt](https://github.com

[2017-04-05 08:50] igitur commented on #139
Would you mind committing your changes to a new branch in your own fork? I'll check it out from there.

If you struggle to get the interpolation working, check out chapter 3.8 from [Numerical Recipes, 3rd Edition](https://github.com/yuanhui-yang/Numerical-Recipes/blob/master/Numerical%20Recipes%20-%20The%20Art%20of%20Scientific%20Computing%20-%203rd%20Edition.pdf)

And more info at https://quantli

[2017-04-09 12:50] datametrics commented on #139
..unfortunately i got stuck at the sparse_matrix magic, which is integrated part of boost. I thought it could be simply replaced by the matrix class but that was wrong. Porting the > 6000 lines in boost::matrix_sparse will keep me years on the issue :-)

Real pitty, since the results in my c++ tests look really promising especially for this use case.

[2017-04-14 07:47] jiskin commented on #139
Hello @datametrics,

I'm not the one who can say if using Math.Net is possible or not, but Quantlib is using boost and the QLNet library should have a "backup" too...

Do you have the same results with Quantlib and QLNet?

Do not hesitate to share your code, it could  be interesting for everyone.

jiskin

[2017-04-15 18:02] amaggiulli commented on #139
I'm still busy with project refactoring ,  two days more I hope , when finished I will develop the sparse matrix in c#.

[2017-04-15 23:58] datametrics commented on #139
Thank you, but take your time. I am able to work with this implementations..

[BicgStab.txt](https://github.com/amaggiulli/QLNet/files/923980/BicgStab.txt)
[LaplaceInterpolation.txt](https://github.com/amaggiulli/QLNet/files/923981/LaplaceInterpolation.txt)

@jiskin yes, i did some tests and also interpolated a complete surface with it. The results look promising even if a considerable edge of the

[2017-04-21 10:01] #137 closed

[2017-05-04 13:57] igitur opened #148 "AppVeyor / Sonar verbosity"
I notice in AppVeyor log (https://ci.appveyor.com/project/amaggiulli/qlnet-d58o4)

[code]

This causes a LOT of output and slows down the browser window refresh. I had a similar issue on another project. Disabling verbose mode would be nice, unless you want the full output.

[2017-05-04 14:01] amaggiulli commented on #148
It was disabled before , but new sonar version is bugged , sometimes it fails with not reason , still investigating...

[2017-05-04 23:25] jiskin commented on #89
Hello,

I will try to help a bit but you may have notice I'm not such a good coder.

In QLNet the design of the different Traits does not seems to be as in Quantlib and honestly I do not understand why. For example this part isn't "translated" to C#:

[code]

I know @igitur does not really like this but it seems that the following sample can replace easily this code:

- Add this to the ITraits<T>

[2017-05-05 09:20] igitur commented on #89
Well, yes, I don't like using Reflection for a few reasons:
- It's slow, but we might get around it by using a library like [FastMember](https://github.com/mgravell/fast-member)
- You lose compile time type checking, but with a gazillion unit tests, this should be OK.
- You lose IDE features, e.g. refactoring support, etc.

But I have admit that I've also thought that Reflection is going to be our

[2017-05-05 11:22] jiskin commented on #89
How much slower is it ?

Personally I use the PiecewiseCurves only for bootstrapping once and then I'm using directly the InterpolatedCurves with calculated ZeroRates. So the growth in calculation time will barely impact me.

Your issue is almost a year old, I think it's time to correct this (which is quite alarming as the behaviour is totally different from official Quantlib).

Starting with refl

[2017-05-05 11:28] igitur commented on #89
Let me just complete that reduced example first and get some feedback from StackOverflow. There might be a few gurus there would could give advice. We should at least be 100% sure that there is no way that generics can work.

If generics are ruled out, then, besides reflection, we should also investigate lambda expressions. I don't know them well, but I have a hunch that might be a solution. And t

[2017-05-05 12:14] amaggiulli commented on #89
The right way to solve this is with Interfaces , reflection is not needed ( and it is to avoid if possible ), we don't need a guru , just some time to dedicate to this development and , like all the open source projects , this can't be planned with certainty.

[2017-05-05 16:13] jiskin commented on #89
Well, I will probably leave that to you as I have no idea how to do it with
interfaces.

Regarding the reflection, my proposal was just using it to instatiate the
object, all methods are then called by the usual way. I don't think it is
impacting the time calculation like in the exemple given by @igitur.

If I can be of any help, tell me I have a bit of the needed time.

Le 5 mai 2017 14:14, "Andr

[2017-05-11 13:40] amaggiulli commented on #148
Ok , I think I have fixed now , verbosity set back to Info.

[2017-05-11 13:40] #148 closed

[2017-05-12 09:01] amaggiulli commented on #89
work at this issue in branch [https://github.com/amaggiulli/QLNet/tree/generics](url)

[2017-07-03 17:47] jiskin opened #158 "Issue with Null<Real>() initial value"
Hello,

In QuantLib, when you initiate a Real value with the Null<Real>, the value will be 3.4028234663852886e+038.

In the QLNet version, we have the double? type to be able to set to null.

If we go to the GaussLobattoIntegral class, we have in QuantLib

[code]

Where relAccuracy_ = 3.4028234663852886e+038 when in QLNet we have 0.0

I had trouble to port the NoArbSabr class because of the integr

[2017-07-04 06:36] amaggiulli commented on #158
double relTol = Math.Max(relAccuracy_ ?? Const.QL_EPSILON, Const.QL_EPSILON);

[2017-07-04 07:47] jiskin commented on #158
Hello,

QL_EPSILON = 2.2204460492503131e-016 which is not the same value. Maybe we can think about QL_REAL_NULL_VALUE = 3.4028234663852886e+038?

[2017-07-04 08:36] amaggiulli commented on #158
No , null value is undetermined in c++.

[2017-08-23 10:50] screig commented on #3
Could this please be reopened? @amaggiulli

![image](https://user-images.githubusercontent.com/4292074/29612431-2dd6a794-87f9-11e7-87eb-29000fdd6ff2.png)

[2017-08-23 11:52] igitur commented on #3
@screig Why do you need a strong named assembly? AFAIK, all the reasons punted way back in 2001 aren't really relevant anymore. Security certainly isn't applicable.

[2017-08-23 11:54] igitur commented on #3
This is a good read about why signing assemblies isn't required anymore: https://www.pedrolamas.com/2016/03/01/still-strong-naming-your-assemblies-you-do-know-its-2016-right/

[2017-08-23 12:54] screig commented on #3
Hi

Well the article makes some good points. My reason for wanting it is the same as the first reason the author of the article gives:

- You want to enable your assemblies to be referenced by strong-named assemblies, or _you want to give friend access to your assemblies from other strong-named assemblies_.

However there is no statement in this article refuting how this particular aspect is no lo

[2017-08-30 07:51] #158 closed

[2017-09-28 21:40] tournierjc commented on #139
Hello @datametrics

Just to let you know I have ported the SparseMatrix implementation and Bicgstab in #172.

I'll appreciate if you can try your example with my implementation as I did not fully test the operator* from SparseMatrix and the Bicgstab port.

[2017-09-28 23:57] tournierjc commented on #108
Hello,

I've been through this issue as well, mainly for greeks calculation.

The best way is to use RelinkableHandle for your underlying spot value. Once you relink to your new spot value, all objects are updated.

Regarding the maturity date, it is the same solution but I had to write some extended class of the Exercise object, to pass a Handle<Date> for maturity instead of a Date.

[2017-10-06 11:59] miegler opened #174 "ThreadStatic Settings, event source"
Hi,
"eventSource" in the Settings class seems to cause a bottleneck in a highly parallel environment with frequent changes of the evaluation date. I don't see why the "eventSource" is not declared as "[ThreadStatic]", do you agree?

Regards,
Michael

[2017-10-06 16:45] igitur commented on #174
Yes, I think you're right.

[2017-10-06 17:19] miegler commented on #174
Just took a second look... Won't work if the listening objects (term structures etc) are created from a different thread...

[2017-10-17 07:43] datametrics commented on #139
Thank you @tournierjc ,

i'm going to test, when I get back to matrix interpolation!

[2017-10-27 09:26] tournierjc commented on #174
Maybe it will be solved with the work on generics (generics branch on this repository) where Settings class is refactored as a Singleton ?

[2017-10-27 09:36] tournierjc commented on #122
Hello,

What for as `newIndex = index.clone(fwd);` will be equivalent to `newIndex = new BMAIndex(fwd);`?

[2018-02-06 15:30] #108 closed

[2018-02-06 15:32] #122 closed

[2018-02-06 15:32] #139 closed

[2018-02-06 15:32] #174 closed

[2018-04-11 11:38] coderb opened #204 "Make work with SQLCLR"
It would be nice to be able to use QLNet with an assembly that defines functions for use with MS Sql (SQLCLR functions).

For SQLCLR there is a requirement that disallows writable static fields.

Possible solutions include making the fields readonly (eg read settings from a config file and don't allow them to be changed at runtime) or converting static objects to non-static and allowing them to be

[2018-05-16 15:42] xwlantian opened #205 "IndexManager is not thread safe"
## Expected Behavior

IndexManager should be thread safe
## Current Behavior

IndexManager is not thread safe
## Possible Solution

Use concurrent dictionary or lock the current dictionary
## Steps to Reproduce (for bugs)

Use ratehelpers to build YieldTermstructure in multiple-threaded environment

## Context

## Your Environment

* Version used ( QLNet 1.10 )
* Environment name and version (.NET

[2018-06-11 13:07] tournierjc commented on #89
Hello,

Did you had a look at this branch : https://github.com/tournierjc/QLNet/tree/ITraitsRefactoring?

[2018-06-12 08:57] igitur commented on #89
@tournierjc With #196 merged, you can rebase and your unit tests should pass now.

[2018-06-12 08:59] igitur commented on #89
@tournierjc Can you log a PR for it in the meantime?

[2018-07-11 04:06] geobmx540 commented on #205
@xwlantian it could be helpful if you could create a sample test that fails

[2018-07-23 10:47] pstrus opened #211 "FDDividendAmericanEngine - incorrect results"
Valuation of a American option with a discrete dividend using FDDividendAmericanEngine yields incorrect results (and different to Quantlib).

I was trying to value a following option:
Valuation date: 20 July 2018
Maturity date: 17 Aug 2018
Type: Call
Spot: 2900
Strike: 2800
Volatility : 20%
Interest rate : 0%

Dividend (paid one day before expiry)
Date : 16 Aug 2018
Value: 40

The option value pro

[2018-07-23 17:39] amaggiulli commented on #211
Hi Jakub  ,
thank you for spotting this issue , I will create a feature now with a test case with your data .
Just one question :  the Quantlib value ( 124.308 ) is incorrect too ?

[2018-07-23 18:21] amaggiulli commented on #211
Also , can you share the code that produce 97.057 using QLNet  ?

[2018-07-24 10:56] pstrus commented on #211
Hi Andrea,

I think the value produced by Quantlib is correct.

The code to produce the **95.057** is almost exactly as in the test you added. The only difference is that I used different number of timeSteps and gridPoints when initializing FDDividendAmericanEngine. I used 1000, instead of default, which is 100.
`var pricingEngine = new FDDividendAmericanEngine(process, 1000, 1000);`

When I chang

[2018-07-24 22:14] amaggiulli commented on #211
Thank you Jakub ,

for now this is a good solution , at first look seems to me that the c# mimic the c++ code structure but not the logic. This can happen when porting  C++ templates in CSharp. Numbers are correct now , maybe a refactoring will follow. Thank you for finding the bug and proposing the solution :)

~Andrea

[2018-07-25 17:35] amaggiulli commented on #211
Fixed in release 1.11.2

[2018-07-25 17:35] #211 closed

[2018-07-30 16:17] imachabeli commented on #205
Hi, I'm having issues with yieldtermstructure in multithreaded environment, "Missing USDLibor3M Actual/360 fixing for 7/23/2018". by the time this error happens Curve is fully built.
Could you share what kind of exception you get ?

[2018-08-23 14:41] papaneko opened #215 "Cant clear settings observers"
Its problematic to create and maintain multiple totally different yield curves and use builtin rate helpers since they are relative date rate helpers and update their quotes whenever settings.evaluationDate are changed.

## Expected Behavior

I should be able to clear old settings, making sure that old RelativeDateRateHelpers are not being notified of the  changes since they should **not** be usin

[2018-08-24 06:41] Daniel-Svensson commented on #205
QLNet have some severe issues regaring concurrent use due to how the evaluationdate is a single global variable which updates/recalculates all rates/qutes and related yield curves. So currently it seems like you need to take a lock from when you start creating quotes/rates, constructing curves until you have finished with all calculations (all usages of the curves).

It would be really nice if was

[2018-08-24 14:06] #215 closed

[2018-09-13 08:01] #77 closed

[2018-09-13 08:01] #204 closed

[2018-09-13 10:46] amaggiulli commented on #204
will be in the next release "thread safe"

[2018-09-13 10:53] coderb commented on #204
right on! :+1: :+1: :+1:

[2018-10-04 09:57] andeen commented on #89
Hi,

I'm also having a hard time implementing the PiecewiseDefaultCurve. Any updates on solving this issue using interfaces?

[2018-10-04 14:33] tournierjc commented on #89
Hello @andeen ,

I have implemented it in my repos (defaultcurve branch): https://github.com/tournierjc/QLNet/tree/defaultcurves

I'm using it on a daily basis, it's working great.

[2018-10-05 11:39] andeen commented on #89
That's just perfect, tournierjc. Thanks!

What's the status on the pull request?

[2018-10-12 07:34] tournierjc commented on #89
@andeen the previous pull request has been closed without merging. I will make another one.

[2019-01-02 17:42] amaggiulli commented on #112
https://github.com/amaggiulli/QLNet/commit/39d4390d8c11cb2d62c280a78807cefba1c99e27

[2019-01-02 17:42] #112 closed

[2019-01-29 03:19] jack1232 opened #224 "DefaultProbabilityHelper class"
In the original C++ QuantLib or QuantLib C# SWIG version, there is a DefaultProbabilityHelper class, which is a bootstrap helper for default-probability term structures. This class is very useful in calculating the hazard rate and pricing CDS from spread market data. The following link is an example that uses this helper class to pricing CDS:

http://www.riskreversal.net/cds/

[](http://www.riskre

[2019-01-29 07:36] tournierjc commented on #224
Hi Jack,

In C# the design of this class has been difficult to implement, my pull request is pending for a while now... (#219)

You can use this branch : https://github.com/tournierjc/QLNet/tree/defaultcurves_squashed

[2019-01-29 13:14] jack1232 commented on #224
Thank you. Will take a look.

[2019-03-04 10:32] tournierjc commented on #205
Hello,

I think I got it to work (still need some tests, but if you can look on your side as well?).

1) First create Patterns/Singleton.cs:
`/*
 Copyright (C) 2019 Jean-Camille Tournier (jean-camille.tournier@avivainvestors.com)

 This file is part of QLNet Project https://github.com/amaggiulli/qlnet

 QLNet is free software: you can redistribute it and/or modify it
 under the terms of the QLNet

[2019-04-04 09:52] muichkine opened #225 "Question: Matching QuantLib version"
Hello,

I don't see any reference to QuantLib code in the code tree.

- Are the two projects totally independent?
- If yes, are fixes/contributions brought to QuantLib ported to QLNet?
- If no, what is the QuantLib version used as the primary fork for QLNet?

Thank you for the feedback.

[2019-04-04 13:50] amaggiulli commented on #225
Hi ,

QLNet don'y have any reference in code to Quantlib

- Yes
- Yes
- We keep the two libraries in synch as much as possible

[2019-04-04 15:48] muichkine commented on #225
Thank you.

[2019-04-04 15:48] #225 closed

[2019-04-18 16:15] tournierjc commented on #205
Hello Andrea,

Quick comments on your fix:

- Indexes\IndexManager.cs
`data_.TryRemove(name.ToUpper(),out _);`

Will not work for QLNetOld project because C# < 7.0. I suggest:

[code]

- Math\PrimeNumber.cs
Will probably crash if called on several threads. As a workaround I removed all the static fields except for `firstPrimes` array.

- Pattern\Singleton.cs
I would have appreciate you keeping my

[2019-04-19 15:51] amaggiulli commented on #205
I don't have a great feeling about these changes, the static code is more hidden but still present...all the machinery as @Daniel-Svensson calls them. I'd rather find a solution like the one described briefly by him , create sessions and get rid of static stuff for Settings, Indexes and ExchangeRates.
Anyway if this pr solve the multi-threading issue and we got positive feedback can be merged.

[2019-04-19 16:12] #89 closed

[2019-04-19 16:12] #224 closed

[2019-04-23 10:39] oliviermilla opened #229 "[REFACTO] Generalized Leg"
Hello,

`Cashflows.cs` has a set of util functions to deal with List<CashFlow>. Is there any reason why one would not want to create a Leg class as a proper business object bearing business methods such as duration, etc. ?

I'm ok to refacto but I'm wondering if you had any reason for keeping the concept of Leg as a set of static class functions + List<CashFlow>

Thanks

[2019-10-21 08:59] QtRoS opened #233 "[BUG] GetHashCode of Date class - absent implementation"
**Describe the bug**
`GetHashCode` method of `Date` class is implemented in the following way:
[code]
So `Date` can't be used as a key in the dictionary. Technically it can but without any speedup (because of collisions). It's a bit strange. I've noticed that in `CashFlow` it is implemented in the following way:
[code]
Looks reasonable! Maybe `GetHashCode` in `Date` class should be implemented in

[2019-10-21 14:02] amaggiulli commented on #233
Good find ! Feel free to submit a Pull Request that resolve this issue.

[2019-10-29 14:42] #233 closed

[2020-05-07 11:17] hhaldn opened #252 "[BUG] Optimization method based on line search may return function value that does not correspond to current value"
For an optimization method based on a line search, the function value may not equal the value of the cost function evaluated at current value, when the method minimize has returned.

I have attached a unit test that reproduces the problem. The test fails when I run it at the current head (@819039a8d91a) corresponding to version 1.11.4.

[T_FinalFuctionValueAndCurrentValue.txt](https://github.com/a

[2020-05-07 14:51] amaggiulli commented on #252
Hi @hhaldn , above commit should solve the issue , let me know if that works.
thanks for spotting it

[2020-05-07 15:00] amaggiulli opened #253 "[FEATURE] Cleanup Project solution"
Update the solution to make easier build/test/deploy
Cleanup roadmap

- Remove old solution
- Update tests to use only xunit
- Target only netstandard , currently version 1.2 should be good

Feel free to add notes/comment

[2020-05-08 14:02] igitur commented on #253
Can we do a test build first before releasing? I'm old-fashioned and still like a .NET Framework build, so I would just like to test against my projects how `netstandard1.2` works and whether it pulls in additional dependencies.

[2020-05-08 15:07] amaggiulli commented on #253
@igitur sure , I'm working on a feature branch, we will test it there once done

[2020-05-11 07:05] hhaldn commented on #252
The commit solves the problem.

[2020-05-11 07:05] #252 closed

[2020-05-11 10:20] datametrics commented on #205
Hello,
I have tried the MT branch without success, there where still some statics in Settings that caused strange behaviors.

What i now did is:

1) Modify Singleton<T> to use ThreadLocal<T> structure internally:
  `public class Singleton<T> where T : class, new()
   {
      private static ThreadLocal<T> instances = new ThreadLocal<T>(() => new T());
      protected Singleton() { }

      public s

[2020-05-11 15:31] amaggiulli commented on #253
@igitur you can start your testing using version 1.12.0-preview.24 :

`Install-Package QLNet -Version 1.12.0-preview.24`

[2020-05-11 15:52] #253 closed

[2020-05-12 08:39] igitur commented on #253
Thanks I will test soon, but I see you have already merged this?

[2020-05-20 06:02] hhaldn opened #256 "[BUG] Missing bank holidays in calendar for Denmark"
In the implementation of the calendar for Denmark (QLNet\Time\Calendars\Denmark.cs), some bank holidays are missing:
- The day after Ascension Day has been a bank holiday after 2008
- Christmas Day is a bank holiday
- New Year's Eve has been a bank holiday since 2003

You can find the list of current bank holidays in Denmark here:

http://www.nationalbanken.dk/en/contact_info/Opening_hours/Pages/D

[2020-05-20 15:02] #256 closed

[2020-07-09 14:45] akasolace opened #257 "Question: is it possible to use QLNet for generic MC pricing?"
Let say I have a payoff depending of multiple assets (known volatilities and correlations matrix). Could QLNet be used to price such an option using MC technique? If it is the case, could you point me to a minimal example doing such a pricing?

Thank you

[2020-07-21 17:57] amaggiulli commented on #257
Currently there isn't a sample for multiasset pricing but you can find building blocks here :

[2020-07-21 18:03] akasolace commented on #257
Thank you

[2020-07-22 16:38] #257 closed

[2020-08-21 23:17] channell opened #258 "Thread aware calculation of LazyObject"
**Is your feature request related to a problem? Please describe.**
In parallel execution environments multiple threads can trigger the recalculation of a l LazyObject, but the current implementation sets calculated_ prior to the call to performCalculations() which causes another thread to step over the calculation step and attempt to read the results before they’ve been provided resulting in an Ar

[2020-09-01 11:50] Z-Zhao opened #260 "[BUG] False exception cause bootstrap failed because ts_.instruments_.Sort() does not work in Class:Iterativebootstrap, Method:initialize()"
**Describe the bug**
We have used QLNet 1.3 for a long time for bootstrapping curves and recently we upgraded to the latest 1.11.4 version, and find this:

- If the input list of instruments (BootstrapHelpers) are not pre-orderd by pillarDate/MaturityDate, the LatestRelevantDate exception will populate, which failed the calculation.
- This is because the **ts_.instruments_.Sort((x, y) => x.pillarD

[2020-09-14 16:23] #260 closed

[2020-09-14 16:29] amaggiulli commented on #260
Hi @Z-Zhao , thanks for the very detailed Issue, should be fixed now. The problem was that IterativeBootstrap class get only a copy of the instruments list leaving the original untouched, now the list is sorted directly in the constructors and should be fine.

[2020-09-14 18:58] amaggiulli commented on #258
Hey @channell , thx for your PR , I agree with you about the uneeded pattern , what about working togheter to completly remove it from the library ? In the QLNet development we did several hack to avoid this problem with the only result to make the code ugly and difficult to read and without fixing the issue. Let me know if you have any idea on how to proceed.

[2020-12-07 12:19] igitur commented on #253
I'm wondering whether we still need the `QAssert` class, since we don't split between XUnit and Microsoft.VisualStudio.TestTools.UnitTesting anymore.

[2020-12-07 14:22] igitur opened #261 "Use dotnet format instead of astyle"
Refer to https://github.com/dotnet/format

This seems to be a much better .NET code formatter than astyle. Astyle isn't very aware of .NET specific syntax and especially the recently released language features are not always properly formatted with Astyle.

My suggestion is to switch to `dotnet format` for our code formatting.

Obviously this will have a once-off impact on almost every file, but f

[2020-12-07 17:14] amaggiulli commented on #261
👍

[2021-03-01 13:59] kristofferpagels opened #265 "[BUG] Error in ActualActualISMA daycounter for long/short final periods"
**Describe the bug**
The new ActualActualISMA daycounter that takes a schedule handles odd first period, but not odd last periods. When we tested against the examples in the ISDA ([The Actual/Actual day count fraction](https://www.isda.org/book/actualactual-day-count-fraction/)) we found that if the last period were longer or shorter than regular period, the daycounter returned the wrong year frac

[2021-03-01 14:17] igitur commented on #265
@kristofferpagels @amaggiulli Let me check this against upstream first, please.

[2021-03-01 15:24] igitur commented on #265
@kristofferpagels Help me out, please. What are the **actual** 3 values you get for the last 3 failing tests?

[2021-03-02 06:00] kristofferpagels commented on #265
The actual and expected values for the three failing test cases can be seen here

|TestCase|Expected YearFraction |Actual YearFraction|
|---|---:|---:|
|example d: short final calculation period|152.0 / (182.0 * 2) = 0.41758|0.5|
|example e: long final calculation period - eom|(91.0 / (91.0 * 4)) + (61.0 / (92.0 * 4)) = 0.41576|0.5|
|example e: long final calculation period - not eom|(91.0 / (91.0

[2021-03-02 08:45] igitur commented on #265
I get the same calculated values of `0.5` in upstream QuantLib. My suggestion would be to resolve this issue in QuantLib first and then we'll port it to QLNet. I think it would be quite dangerous to have a discrepancy in the day counters of the 2 projects. @amaggiulli, however, this is your decision to make.

I have prepared a C++ test case though.

[code]

[2021-03-02 16:23] amaggiulli commented on #265
Thanks @kristofferpagels for contribution, I'm going to fix the issue using the solution provided. @igitur our bug fixing is absolutely not dependent on Quantlib bug fixing , is a good practice tough to report back any issue we could find in code.

[2021-03-02 18:12] #265 closed

[2021-04-20 18:14] astonthebrave opened #266 "Question: Discrepancy between holidays in QLNet and QuantLib 1.21"
I have been testing the Calendars in QLNet and I noticed a difference between the holidays produced in QLNet for the Canada class and those in QuantLib v1.21.  Specifically, QLNet has Easter Monday as a holiday whereas v1.21 does not.  To my knowledge, it is not a holiday.

Is it the intention for the 2 libraries to mirror each other?  How do you ensure that changes made to the core library are pr

[2021-09-30 07:33] oliviermilla commented on #258
@tournierjc why not do that here as a major version? I mean, It's QLNet + refactoring + some more from QuantLib right?

[2021-11-02 20:55] #258 closed

[2021-11-02 20:55] #205 closed

[2021-11-02 20:56] #229 closed

[2021-11-02 20:58] #261 closed

[2021-11-23 18:57] #266 closed

[2022-09-20 17:08] screig opened #273 "Net standard over net 6.0"
I made a branch to change the library to net standard but it seems I can't commit it.

[code]

Anyway, why? Well if the library is in Net6.0 it shuts out users who are tied to the Net Framework. For example I need to use ExcelDNA and therefore am bound to the Net-Framework, as much as I don't want to be. However on the flip side if the library is Net Standard 2.0 (note 2.1 does not support this) t

[2022-09-20 18:01] amaggiulli commented on #273
will check if I could restore the Multi-targetting, that should solve your issue

[2022-09-21 09:10] screig commented on #273
Thanks

[2022-09-21 15:47] amaggiulli commented on #273
If I enable netstandard 2.0 got troubles in FastActivator class : DynamicMethod ILGenerator and LocalBuilder

[2022-09-21 15:49] screig commented on #273
I did this, changing the TargetFramework and adding the package.

[code]

Like I said I would have committed this as a branch, but seem to be blocked.

[2022-09-21 15:56] amaggiulli commented on #273
yea that works , have to add back :

  <ItemGroup Condition=" '$(TargetFramework)' == 'netstandard2.0' ">
    <PackageReference Include="System.Reflection.Emit.Lightweight" Version="4.0.1" />
  </ItemGroup>

[2022-09-21 15:57] screig commented on #273
Cool

[2022-09-21 16:04] amaggiulli commented on #273
now I have to fight with nuget/github deployement for multi-target 😄 , will ask you to verify once done thanks

[2022-09-21 16:05] screig commented on #273
but why bother with multi deployment, with net standard it can go anywhere, no?

[2022-09-21 18:12] amaggiulli commented on #273
Well, main reason is that I don't want to lose net6.0 optimizations, also I see many open source projects have dropped netstandard in favor of being full dotnet core since it is less limiting in what you can do.
Anyway, as netstandard2.0 is supported (via .net 4.6.2 still being in the live lifecycle), I will restore the multi-target to fix the issue you and maybe others could have.

[2022-09-22 08:58] screig commented on #273
Well that makes sense, and I learnt something, thanks.

[2022-09-22 18:11] #273 closed